<div id="maria-video-container" class="content-container">
	
	<div id="maria-video-header" class="content-header">
		<span class="content-header-icon"></span>
		<h2><%= t('oh_maria') %> - Video</h2>
	</div>
	
	<div id="maria-video-body" class="content-body">
		
		<div id="video-container">
			Loading...
		</div>
		
	</div>
	
</div>