<div id="maria-music-container" class="content-container">
	
	<div id="maria-music-header" class="content-header">
		<span class="content-header-icon"></span>
		<h2><%= t('oh_maria') %> - <%= t('music') %></h2>
	</div>
	
	<div id="maria-music-body" class="content-body">
		
		<span class="response-block">Page Under Construction. It the meantime, take a look at the video instead :)</span>
		
		<div id="video-container">
			Loading...
		</div>
		
	</div>
	
</div>