<h1><%= PointOfEffort.model_name.human %></h1>

<%= render 'form', custom_url: point_of_effort_path(@point_of_effort, locale: locale) %>

<%= link_to t('helpers.links.show'), point_of_effort_path(@point_of_effort, locale: locale) %> |
<%= link_to t('helpers.links.back'), point_of_efforts_path(locale: locale) %>
