<div id="efforts-new-container" class="content-container">
	
	<div id="efforts-new-header" class="content-header">
		<span class="content-header-icon"></span>
		<h2><%= PointOfEffort.model_name.human %></h2>
	</div>
	
	<div id="efforts-new-body" class="content-body">
		
		<%= render 'form', custom_url: point_of_efforts_path(locale: locale) %>
		
	</div>
	
	<%= render "point_of_efforts/bottom_action_bar" %>
	
</div>