<p style="text-align: center;">
	Our Father, Who art in Heaven,<br />
	hallowed be Thy name;<br />
	Thy Kingdom come,<br />
	Thy will be done on earth as it is in Heaven.<br />
	Give us this day our daily bread;<br />
	and forgive us our trespasses as we forgive those who trespass against us;<br />
	and lead us not into temptation, but deliver us from evil.<br />
	<strong>Amen.</strong>
</p>