<p style="text-align: center;">
	Pai nosso, que estais nos céus<br />
	Santificado seja o Vosso Nome<br />
	Venha a nós, o Vosso Reino<br />
	Seja feita a Vossa Vontade<br />
	Assim na Terra como no Céu<br />
	O Pão nosso de cada dia, nos dai hoje<br />
	Perdoai as nossas ofensas<br />
	Assim como nós perdoamos<br />
	A quem nos tenha ofendido<br />
	E não nos deixei cair em tentação,<br />
	Mas Livrai-nos do mal,<br />
	<strong>Amém!</strong>
</p>