<%
	current_uri = request.env['PATH_INFO']
	if current_uri.index("edit") == nil %>
		
		<div id="shargins-bottom" class="content-bottom-action-bar action-bar-standalone">
			<% if current_uri.index("new") != nil %>
				<%= link_to t('helpers.links.back'), sharings_path(locale: locale) %>
			<% else %>
				<%= link_to t('helpers.links.new', model: Sharing.model_name.human), new_sharing_path %>
			<% end %>
		</div>
		
	<% else %>
		
		<div id="shargins-bottom" class="content-bottom-action-bar">
			<ul>
				<li><%= link_to t('helpers.links.show'), sharing_path(@sharing, locale: locale) %></li>
				<li><%= link_to t('helpers.links.back'), sharings_path(locale: locale) %></li>
			</ul>
		</div>
		
	<% end %>

