<h1><%= Sharing.model_name.human %></h1>

<%= render 'form', custom_url: sharing_path(@sharing, locale: locale) %>

<%= link_to t('helpers.links.show'), sharing_path(@sharing, locale: locale) %> |
<%= link_to t('helpers.links.back'), sharings_path(locale: locale) %>
