<div id="sharings-new-container" class="content-container">
	
	<div id="sharings-new-header" class="content-header">
		<span class="content-header-icon"></span>
		<h2><%= Sharing.model_name.human %></h2>
	</div>
	
	<div id="sharings-new-body" class="content-body">
		
		<%= render 'form', custom_url: sharings_path(locale: locale) %>
		
	</div>
	
	<%= render "sharings/bottom_action_bar" %>
	
</div>
