<%
	current_uri = request.env['PATH_INFO']
	if current_uri.index("edit") == nil %>
		
		<div id="reflections-bottom" class="content-bottom-action-bar action-bar-standalone">
			<% if current_uri.index("new") != nil %>
				<%= link_to t('helpers.links.back'), theme_reflections_path(locale: locale) %>
			<% else %>
				<%= link_to t('helpers.links.new', model: ThemeReflection.model_name.human), new_theme_reflection_path %>
			<% end %>
		</div>
		
	<% else %>
		
		<div id="reflections-bottom" class="content-bottom-action-bar">
			<ul>
				<li><%= link_to t('helpers.links.show'), theme_reflection_path(@theme_reflection, locale: locale) %></li>
				<li><%= link_to t('helpers.links.back'), theme_reflections_path(locale: locale) %></li>
			</ul>
		</div>
		
	<% end %>

