<%= simple_form_for(@theme_reflection, url: custom_url) do |f| %>
  <%= f.error_notification %>

  <div class="field">
    <%= f.input :question, prompt: :translate %>
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
