<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @theme_reflection.question %>
</p>

<%= link_to t('helpers.links.edit'), edit_theme_reflection_path(@theme_reflection, locale: locale) %> |
<%= link_to t('helpers.links.back'), theme_reflections_path(locale: locale) %>
