<p style="text-align: center;">
	<strong>Come Holy Spirit,</strong> fill the hearts of your faithful and kindle in them the fire of your love.<br />
	V. Send forth your Spirit, and they shall be created.<br />
	R. And You shall renew the face of the earth.
	<br /><br />
	Let us pray.
	<br /><br />
	O, God, who by the light of the Holy Spirit, <br />
	did instruct the hearts of the faithful, <br />
	grant that by the same Holy Spirit we may be truly wise and ever enjoy His consolations.
	<br /><br />
	<strong>Through Christ Our Lord. Amen.</strong><br />
</p>