<p style="text-align: center;">
	<strong>Vinde Espírito Santo,</strong> enchei os corações dos vossos fiéis, e acendei neles o fogo de vosso amor. Enviai o vosso Espírito e tudo será criado e renovareis a face da terra. 
	<br />
	<strong>Oremos:</strong> Ó Deus que iluminais os corações dos vossos fiéis com as luzes do Espírito Santo, concedei-nos que no mesmo Espírito saibamos o que é reto, e gozemos sempre de suas consolações. Por nosso Senhor Jesus Cristo, na unidade do Espírito Santo. Amém
</p>