<ul class="content-list">
    <li class="content-list-item">
		<span class="list-item-icon song-icon"></span>
		<%= link_to "The Music", oh_maria_music_path %>
		<div id="clearfix"></div>
		<h4 class="list-item-desc">Lyrics &amp; Cypher</h4>
	</li>
    <li class="content-list-item">
		<span class="list-item-icon video-icon"></span>
		<%= link_to "The Video", oh_maria_video_path %>
		<div id="clearfix"></div>
		<h4 class="list-item-desc">Youtube Video</h4>
	</li>
</ul>