<ul class="content-list">
    <li class="content-list-item">
		<span class="list-item-icon song-icon"></span>
		<a href="#" title="OH Maria! Music" target="_blank">A <strong>Música</strong></a>
		<div id="clearfix"></div>
		<h4 class="list-item-desc">Letra &amp; Cifra</h4>
	</li>
    <li class="content-list-item">
		<span class="list-item-icon video-icon"></span>
		<%= link_to "O Video", oh_maria_video_path %>
		<div id="clearfix"></div>
		<h4 class="list-item-desc">Youtube Video</h4>
	</li>
</ul>