<p style="text-align: center;">
	Eternal Father,<br />
	United in name of Christ,<br />
	We ask Thee peace for the World<br />
	For there is no more war or conflict,<br />
	Anywhere on Earth.<br /><br />
	We ask Thee for the Youth Teams of Our Lady,<br />
	All around the world, so that every member<br />
	Can truly be a witness of Christ.<br /><br />
	We recommend Thee in a particular manner,<br />
	All of those who works as responsibles.<br />
	Give them, through your Holy Spirit,<br />
	An open heart to distinguish Your Will.<br />
	At last, your protection we seek,<br />
	Holy Mother of God,<br />
	Don't let pass our prayers<br />
	Which in our needs we direct you,<br />
	But release us from all danger,<br />
	<strong>Amém!</strong>
</p>