<p style="text-align: center;">
	Eterno Pai,<br />
	Unidos em nome de Jesus<br />
	Te pedimos a PAZ para o mundo<br />
	Para que não hajam mais guerras, nem conflitos<br />
	Em nenhuma parte da Terra.<br /><br />
	Te pedimos pelas Equipes de Jovens de Nossa Senhora,<br />
	Por todo o mundo, a fim de que cada equipista<br />
	Seja uma verdadeira testemunha de Cristo.<br /><br />
	Recomendamos-Te de modo particular<br />
	Todos aqueles que exercem a função de responsável.<br />
	Dai-lhes, por meio do seu Espírito Santo<br />
	Um coração aberto para discernir a Tua vontade<br />
	Por fim, à nossa proteção recorremos<br />
	Santa Mãe de Deus<br />
	Não desprezais as súplicas<br />
	Que em nossas necessidades vos dirigimos,<br />
	Mas livrai-nos de todos os perigos,<br />
	Ó Virgem Gloriosa e Bendita.<br />
	<strong>Amém!</strong>
</p>