<p style="text-align: center;">
	Hail Mary full of Grace, the Lord is with thee.<br />
	Blessed are thou among women<br />
	and blessed is the fruit of thy womb Jesus.<br />
	<br />
	Holy Mary Mother of God,<br />
	pray for us sinners<br />
	now and at the hour of our death<br />
	<strong>Amen.</strong>
</p>