<p style="text-align: center;">
	Ave Maria, cheia de graça, o Senhor é convosco<br />
	Bendita sois vós entre as mulheres,<br />
	E bendito é o Fruto em vosso ventre, Jesus<br />
	<br />
	Santa Maria, Mãe de Deus,<br />
	Rogai por nós, pecadores.<br />
	Agora e na hora de nossa morte,<br />
	<strong>Amém!</strong>
</p>