<p style="text-align: center;">
	My soul magnifies the Lord, and my spirit rejoices in God my Savior<br />
	Because He has regarded the lowliness of His handmaid<br />
	for behold, henceforth all generations shall call me blessed<br />
	Because He who is mighty has done great things for me, and Holy is His Name<br />
	And His mercy is from generation to generation on those who fear Him.<br />
	He has shown might with His arm,<br />
	He has scattered the proud in the conceit of their heart.<br />
	He has put down the mighty from their thrones,<br />
	and has exalted the lowly.<br />
	He has filled the hungry with good things,<br />
	and the rich he has sent away empty.<br />
	He has given help to Israel,<br />
	His servant, mindful of His mercy<br />
	Even as He spoke to our father<br />
	to Abraham and to his posterity forever.
</p>