<p style="text-align: center;">
	A minha alma engrandece ao meu Senhor<br />
 	E meu espírito exulta de alegria em Deus, meu Salvador!<br />
 	Porque olhou para a humildade de sua pobre serva;<br />
 	doravante todas as gerações me chamarão bendita,<br />
 	Porque o Poderoso fez em mim maravilhas, Santo é o seu nome!<br />
 	Manifestou o poder do seu braço<br />
 	Desconcertou os corações dos soberbos<br />
 	Derrubou do trono os poderosos,<br />
 	e exaltou os humildes.<br />
 	Saciou de bens os famintos,<br />
 	e despediu os ricos de mãos vazias.<br />
 	Acolheu a Israel, seu servo,<br />
 	lembrado de sua misericórdia;<br />
 	conforme prometera a nossos pais,<br />
 	em favor de Abraão e de sua posteridade, para sempre.<br />
 	Glória ao Pai, ao Filho, e ao Espírito Santo.<br />
 	Assim como era no princípio, agora e sempre, Amém.<br />
 	<strong>O poderoso fez em mim maravilhas, Santo é o seu nome!</strong><br />
</p>