<div id="mary-container" class="content-container">
	
	<div id="mary-header" class="content-header">
		<span class="content-header-icon"></span>
		<h2><%= t('hail_mary') %></h2>
	</div>
	
	<div id="mary-body" class="content-body">
		<%= render "prayers/hail_mary/#{partial_locale}" %>
	</div>
	
</div>