<div id="magnificat-container" class="content-container">
	
	<div id="magnificat-header" class="content-header">
		<span class="content-header-icon"></span>
		<h2><%= t('magnificat') %></h2>
	</div>
	
	<div id="magnificat-body" class="content-body">
		<%= render "prayers/magnificat/#{partial_locale}" %>
	</div>
	
</div>