<div id="timeout-container" class="content-container">
	
	<div id="timeout-header" class="content-header">
		<span class="content-header-icon"></span>
		<h2><%= t('time_out') %></h2>
	</div>
	
	<div id="timeout-body" class="content-body">
		<%= render "prayers/time_out/#{partial_locale}" %>
	</div>
	
</div>