<ul class="content-list">
    <li class="content-list-item">
		<span class="list-item-icon web-icon"></span>
		<a href="http://www.ytolinternational.com" title="YTOL International Website" target="_blank">YTOL <strong>Website</strong></a>
		<div id="clearfix"></div>
		<h4 class="list-item-desc">www.ytolinternational.com</h4>
	</li>
    <li class="content-list-item">
		<span class="list-item-icon fb-icon"></span>
		<a href="https://www.facebook.com/groups/258056980897071/" title="YTOL Facebook Group" target="_blank">YTOL <strong>Facebook</strong></a>
		<div id="clearfix"></div>
		<h4 class="list-item-desc">Facebook Group</h4>
	</li>
    <li class="content-list-item">
		<span class="list-item-icon mail-icon"></span>
		<a href="mailto:responsible@ytolinternational.com?subject=[YTOL] - Mail From App" target="_blank">YTOL <strong>Email</strong></a>
		<div id="clearfix"></div>
		<h4 class="list-item-desc">Responsável Internacional</h4>
	</li>
</ul>