@charset "UTF-8";
/* CSS Document */
/*************************************/
/*** MOBILE **************************/
/*************************************/
/*************************************/
/*** GENERAL CONFIGS AND VARIABLES ***/
/*************************************/
/*** CONFIGS ***/
.clearfix {
  width: 100%;
  height: 1px;
  display: block;
  margin: 0;
  padding: 0;
  clear: both !important;
}
@media screen and (max-width: 60.5em) {
  /*** CONTAINER ***/
  html,
  body,
  div#container,
  div#container-wrapper {
    min-height: 100%;
    height: auto;
  }
  .notice,
  .alert {
    width: 90%;
    left: 5%;
  }
  div#container {
    width: 100%;
    height: auto;
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
    padding: 2em 0;
  }
  /*************************************/
  /*** APPLICATION *********************/
  /*************************************/
  /*** LANDING ***/
  div#landing-wrapper {
    width: 90% !important;
    height: auto;
    display: block;
    clear: both;
    margin: 0 auto;
    padding: 0;
  }
  div#landing-wrapper div#logo-img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    zoom: 0.7;
  }
  div#landing-wrapper div#logo-img img {
    width: 384px !important;
    display: block;
    margin: 0 auto !important;
  }
  div#landing-wrapper div#logo-type {
    width: 100%;
    height: auto;
    margin: 0 auto;
    zoom: 0.7;
  }
  div#landing-wrapper div#logo-type img {
    width: 328px !important;
    display: block;
    margin: 0 auto !important;
  }
  div#landing-wrapper div#nav-enter {
    width: 100%;
    height: auto;
    margin: 1em auto;
  }
  div#landing-wrapper div#nav-enter ul li a {
    width: 6em;
  }
  /*** ACTION BAR ***/
  div#action-bar {
    width: 100%;
    height: auto;
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
  }
  div#action-bar ul {
    width: 100%;
    height: auto;
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
    overflow: visible;
  }
  div#action-bar ul li#icon-title {
    overflow: hidden;
    width: 70%;
    margin-left: 1%;
  }
  div#action-bar ul li#icon-title h2 {
    font-size: 1.7em;
    font-weight: 400;
  }
  /*** NAVIGATION DRAWER ***/
  div#nav-drawer {
    width: 100%;
    height: auto;
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
  }
  div#nav-drawer ul#nav-drawer-container {
    width: 75%;
    overflow: scroll !important;
    -webkit-overflow-scrolling: touch !important;
  }
  /*** CONTENT CONTAINER ***/
  div#container-wrapper {
    width: 90% !important;
    height: auto;
    display: block;
    clear: both;
    margin: 0 auto;
    padding: 0;
    padding: 2em 0 0 0;
  }
  /*** SIGN IN / SIGN UP ***/
  div#register-header {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
    height: 8em;
    border-bottom: 1px solid #cccaca;
    clear: both;
  }
  div#register-header div#register-header-wrapper {
    width: 16.4em;
    margin: 0 auto;
  }
  div#register-header div#register-header-wrapper div#register-sign-in,
  div#register-header div#register-header-wrapper div#register-sign-up {
    padding: 0.5em 1.5em;
  }
  div#register-container {
    width: 100%;
    height: auto;
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
    padding: 0.5em 0 0 0;
  }
  div#register-container div#devise-shared-links a {
    width: 100%;
    padding: 0.8em 0;
  }
  /*** INPUTS ***/
  div.input input.string,
  div.input input.password,
  div.input textarea {
    border-radius: 0px !important;
  }
  div.input input:focus {
    border-left: 2px solid #33b5e5 !important;
    border-right: 2px solid #33b5e5 !important;
    border-bottom: 2px solid #33b5e5 !important;
  }
  div.form-actions {
    padding: 1em 0;
    margin: 0 0 1em 0;
  }
  div.form-actions input.action-send {
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;
    padding: 0;
    border: none !important;
    text-indent: -3000px;
    background: transparent url('sprite-map/spirte-round-icons.png') left -130px no-repeat scroll;
  }
  /*** APP INIT ***/
  div#init-container li.init-link {
    padding: 2.5em 0px;
    overflow: hidden;
  }
  div#init-container li.init-link a,
  div#init-container li.init-link span {
    display: block;
    float: left;
    margin-left: 0em;
  }
  div#init-container li.init-link a {
    font-size: 1.3em;
    padding: 1em 0 1em 0.7em;
  }
  div#init-container li.init-link span.init-icon {
    margin-left: 1em;
    position: static;
    top: 0%;
    left: 0%;
  }
  /*** PAGE CONTENT ***/
  .content-container {
    width: 100%;
    height: auto;
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
  }
  .content-container .content-body {
    width: 100%;
    height: auto;
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
  }
  .content-container .content-body p {
    -webkit-overflow-scrolling: touch !important;
  }
  .content-container .content-body .content-list {
    width: 100%;
    height: auto;
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
  }
  .content-container .content-body .content-list .content-list-item {
    width: 100%;
    height: auto;
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
  }
  .content-container .content-body .content-list .content-list-item a {
    float: right;
  }
  .content-container .content-body .content-list .content-list-item span.list-item-icon {
    margin: 0 0 0 5%;
  }
  .content-container .content-body .content-list .content-list-item .circle-icon {
    margin: 1.2em 0 0 9%;
  }
  .content-container .content-body .content-list .content-list-item h3.list-item-title a {
    width: 75%;
    margin: 0.4em 0em 0.4em 0em !important;
  }
  .content-container .content-body .content-list .content-list-item h4.list-item-desc {
    margin: 0;
    padding: 0 0 0 25%;
  }
  .content-container .content-body .form-actions input {
    width: 100%;
    padding: 1em 0;
    margin: 0 auto;
    font-size: 1em;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-appearance: none !important;
  }
  .content-container .content-body .form-actions a {
    width: 100%;
  }
  .content-container .content-body .form-actions .action-submit {
    color: #FFF;
    background-color: #f69856 !important;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid #bd683c;
  }
  .content-container #rosary-body ul li a {
    font-size: 1.1em !important;
  }
}
